form {
	width: 700px;
	margin: 0 auto;
	@extend h4;	
	.form-title {
		text-transform: uppercase;
		color: #fff;
		background: $neutralDark;
		padding: 1% 1% 1% 2%;
	}
	label {
		margin: 10px 5px 10px 10px;
		color: $colorMed;
	}
	input, textarea {
		line-height: 2em;
		font-weight: 100;
		font-size: 0.8em;
		padding-left: 5px;
		margin: 10px;
		color: lighten($neutralDark, 25%);
		background: lighten($neutralLight, 10%);
		border: 1px solid $neutralLight;
		&:focus {
			background: lighten($colorLight, 20%);
			color: $neutralDark;
			outline: none;
		}
	}
	.textarea {
		vertical-align: 240%; // 54px
	}
	input.button {
		@extend %button;
		vertical-align: 100%;
		margin: 0 0 0 100px;
	}

}