form {
	// max-width: 1090px;
	max-width: 740px;
	margin: 0 auto;
	@extend h4;
	.form-title {
		text-transform: uppercase;
		color: #fff;
		background: $neutralDark;
		padding: 1% 1% 1% 2%;
	}
	label {
		margin: 10px 5px 10px 10px;
		color: $colorMed;
	}
	p {
		width: 44.5%;
		display: inline-block;
		font-weight: 300;
	}
	p:nth-child(2n+3) {
		margin-left: 10%;
	}
	.wpcf7-form-control/*,
	.wpcf7-form textarea*/ {
		line-height: 2em;
		font-weight: 300;
		color: $neutralDark;
		margin: 10px 0 20px;
		padding: 0 10px 0 0;
		text-transform: lowercase;
		&:focus {
			outline-color: $compMed;
		}

		-moz-transition: all 0.2s ease-out;
		-o-transition: all 0.2s ease-out;
		-webkit-transition: all 0.2s ease-out;
		-ms-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;

		// color: lighten($neutralDark, 25%);
		// background: lighten($neutralLight, 10%);
		// border: 1px solid $neutralLight;
		// &:focus {
		// 	background: lighten($compLight, 10%);
		// 	color: $neutralDark;
		// 	box-shadow: inset 0 0 3px 1px $compDark;
		// 	outline: none;
		// }
		max-width: 310px;
	}
	.wpcf7-list-item {
		display: block;
		line-height: 1.5em;
	}
	.wpcf7-checkbox {
		display: block;
		margin-top: 0;
	}
	.wpcf7-list-item input[type=checkbox] {
		margin-right: 0.25em;
	}
	textarea {
		// vertical-align: 240%; // 54px
		max-height: 200px;
		border: 1px solid #ccc;
	}
	.wpcf7-submit {
		font-family: $font-fancy;
		background: $compMed;
		color: #fff;
		border: none;
		padding: 0 15px;
		-moz-transition: all 0.2s ease-out;
		-o-transition: all 0.2s ease-out;
		-webkit-transition: all 0.2s ease-out;
		-ms-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
		&:hover {
			background: darken($compMed, 20%);
		}
	}
	input.button {
		@extend %button;
		vertical-align: 100%;
		margin: 0 0 0 100px;
	}
	button {
		text-transform: lowercase;
	}
	#search-2 {
		max-width: 350px;
	}
	.search {
		margin-left: 20px;
	}
	.search-input,
	.search-submit {
		font-size: 0.8em;
		text-transform: lowercase;
		line-height: 2em;
		font-weight: 100;
		margin-left: 10px;
		padding: 0 10px;
	}
	.search-submit {
		width: 190px;
		-moz-transition: all 0.2s ease-out;
		-o-transition: all 0.2s ease-out;
		-webkit-transition: all 0.2s ease-out;
		-ms-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
		color: #fff;
		background: $compLight;
		border: 1px solid $compMed;
		&:hover {
			background: darken($compLight, 20%);;
		}
	}

	span.wpcf7-not-valid-tip {
		color: $colorDark;
	}

}

// input:focus {
// 	outline:0;
// 	border:1px solid #04A4CC;
// }