/*------------------------------------*\
    IMAGES
\*------------------------------------*/

%third {
	float: left;
	width: 350/1090*100%;
	max-width: 350px;
}

%twothirds {
	width: (350*2+20)/1090*100%;
	max-width: 720px;
}

%thirdstyles {
	border: 10px solid #fff;
	margin-bottom: 20px;
	margin-right: 20/1090*100%;
}


/* portfolio */
img.attachment-post-thumbnail.wp-post-image {
	display: inline-block;
	width: 100%;
	height: 100%;
	@include filter(grayscale(100%));
	@include transform(scale(1));
	transition: all 1s ease-in-out;
}


/* about */
.about {
	figure {
		@extend %third;
		img.profile {
			border: 10px solid #fff;
			height: 100%;
			box-shadow: rgba(34, 25, 25, 0.4) 0px 1px 3px;
			-webkit-animation: fadeIn 5s;
			animation: fadeIn 5s;
		}
	}
}
@-webkit-keyframes fadeIn {
	from { @include filter(grayscale(100%)); }
	to { @include filter(grayscale(0%)); }
}
@keyframes fadeIn {
	from { @include filter(grayscale(100%)); }
	to { @include filter(grayscale(0%)); }
}





a > img {
	text-decoration: none;
}

.post img.wp-post-image {
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
}

.fa {
	color: rgba(255,255,255,0.75);
	transition: color 0.4s ease-in-out;
	&:hover,
	&:focus {
		color: rgba(255,255,255,0.9);
	}
}

.footer {
	.svg {
		path {
			fill: rgba(255,255,255,0.75);
			// this transition isn't working for some reason
			transition: fill 0.4s ease-in-out;
		}
		&:hover,
		&:focus {
			path {
				fill: rgba(255,255,255,0.9);
			}		
		}
	}
}