// colours
$colorLight: #ffbc49;	// rgb(160,231,207) or try #FFAA00
$colorMed: #ffa149;		// rgb(89,198,192)
$colorDark: #009b8f;		// rgb(0,155,143)
$compLight: #ff8D49;
$compMed: #ace3e2;		// or try #B6F0EF
$compDark: #a1d1cd;
$neutralLight: #ede7df;
$neutralDark: #705f57;


// font families
$font-sans: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-serif: 'Lora', Georgia, Cambria, "Times New Roman", Times, serif;

// font weights
$normal: 400;
$bold: 700;

// font sizes
$base-font-size: 16*1em;
$base-line-height: (25/16)*1em;