// colours
$colorLight: #ffbc49;	
$colorMed: #ffa149;		
$colorDark: #ff8d49;		//rgba(255, 141, 73, 0.7);
$compLight: #ace3e2;		
$compMed: #a1d1cd;
$compDark: #009b8f;		
$neutralLight: #ede7df;
$neutralDark: #705f57;		//rgba(112, 95, 87, 1)


// font families
$font-fancy: 'thirsty_roughregular_two', 'Lora', Georgia, Cambria, "Times New Roman", Times, serif;
$font-sans: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-serif: 'Lora', Georgia, Cambria, "Times New Roman", Times, serif;

// font weights
$normal: 400;
$bold: 700;

// font sizes
$base-font-size: 16*1em;
$base-line-height: (25/16)*1em;